<div class="cabecalho">
	<div class="cabecalho__menu">
		<span class="cabecalho__menu--item">Blog</span>
		<span class="cabecalho__menu--item">Sobre</span>
		<span class="cabecalho__menu--item">Descrição</span>
	</div>
	<div class="cabecalho__imagem">
		<img class="cabecalho__imagem--img" src="assets/images/doge.png" alt="">
	</div>
	<div class="cabecalho__texto">
		<div class="cabecalho__texto--titulo">
			Tiago Raposo
		</div>
		<div class="cabecalho__texto--descricao">
			Aqui tem que colocar minha biografia resumida, mas como é complicado pensar na minha longa história de vida enquanto tenta criar um front-end baseado em Angular para a aula, daqui a pouco vou colocar um texto pra substituir este. Loren ipsum.
		</div>
	</div>
</div>